body{
    background-color: skyblue;
}
.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
    left: 450px;
}
.digit{
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 440px;
}
.button{
    background-color: gray;
    font-size: 30px;
    border: none;
    border-radius: 4px;
}
.button1{
    width: 100px;
    height: 40px;
    position:absolute;
    top: 200px;
    left: 350px;
}
.button2 {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 485px;
}

.button3 {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 620px;
}